{% extends "base.html" %}

{% block content %}

      <header>
        <a href="{% url 'index' %}" id="logo">
          <h1 class = "title">PHOTOGRAPHY UNTOUCHED</h1>
        </a>
        <nav>
          <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li class="dropdown"><a class="dropbtn">Gallery</a>
              <div class="dropdown-content">
                <a href="{% url 'trees' %}">Nature</a>
                <a href="{% url 'city' %}" class="selected">City</a>
                <a href="{% url 'portraits' %}">Portraits</a>
                <a href="{% url 'animals' %}">Animals</a>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <div class="container">
          <q class="quote">All animals are equal, but some animals are more equal than others.</q><br><p class ="quoter">- George Orwell</p>
          <ul id="gallery">
            {% for photo in photos %}
            {% if photo.image %}
            <li><img src='{{ photo.image.url }}'>
            <p>{{ photo.description }}</p></li>
            {% endif %}
            {% endfor %}
          </ul>
      </div>

{% endblock %}
