{% load staticfiles %}

<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Anaheim|IM+Fell+Great+Primer:400i|Quicksand:700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'photos/style.css' %}">
    <script src="https://use.fontawesome.com/e38558aba7.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography Untouched</title>
  </head>
  <body>
    <header>
      <a href="{% url 'index' %}" id="logo">
        <h1 class = "title">PHOTOGRAPHY UNTOUCHED</h1>
      </a>
      <nav>
        <ul>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
          <li class="dropdown"><a href="{% url 'gallery' %}" class="dropbtn selected">Gallery</a>
            <div class="dropdown-content">
              <a href="{% url 'trees' %}">Nature</a>
              <a href="{% url 'city' %}">City</a>
              <a href="{% url 'portraits' %}">Portraits</a>
              <a href="{% url 'animals' %}">Animals</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <h3 class="current_work">Current Work</h3>
      <!-- <p>Below is a highlight of my 3-day trip to Banff National Park in Alberta, Canada. </p> -->
      <div class="display-container">
        {% for photo in photos %}
        {% if photo.image %}
        <img class="mySlides" src='{{ photo.image.url }}'>
        {% endif %}
        {% endfor %}
        <div class="sliders">
          <div class="left-arrow arrow-hover" onclick="plusDivs(-1)">&#10094;</div>
          <div class="right-arrow arrow-hover" onclick="plusDivs(1)">&#10095;</div>
          <span class="slide-circle demo circle-hover" onclick="currentDiv(1)"></span>
          <span class="slide-circle demo circle-hover" onclick="currentDiv(2)"></span>
          <span class="slide-circle demo circle-hover" onclick="currentDiv(3)"></span>
          <span class="slide-circle demo circle-hover" onclick="currentDiv(4)"></span>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'photos/script.js' %}"></script>
  </body>
  <footer>
    <p>&#169; Photography Untouched</p>
  </footer>
</html>
