{% extends "base.html" %}

{% block content %}

      <header>
        <a href="{% url 'index' %}" id="logo">
          <h1 class = "title">PHOTOGRAPHY UNTOUCHED</h1>
        </a>
        <nav>
          <ul>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li class="dropdown"><a href="{% url 'gallery' %}" class="dropbtn">Gallery</a>
              <div class="dropdown-content">
                <a href="{% url 'trees' %}" class="selected">Nature</a>
                <a href="{% url 'city' %}">City</a>
                <a href="{% url 'portraits' %}">Portraits</a>
                <a href="{% url 'animals' %}">Animals</a>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <div class="container">
          <q class="quote">Trees are the earth's endless effort to speak to the listening heaven.</q><br><p class ="quoter">- Rabindranath Tagore</p>
          <ul id="gallery">
            {% for photo in photos %}
            {% if photo.image %}
            <div><img src='{{ photo.image.url }}'>
            <p>{{ photo.description }}</p></div>
            {% endif %}
            {% endfor %}
          </ul>
      </div>

{% endblock %}
