{% extends "base.html" %}

{% block content %}
      <header>
        <a href="{% url 'index' %}" id="logo">
          <h1 class = "title">PHOTOGRAPHY UNTOUCHED</h1>
        </a>
        <nav>
          <ul>
            <li><a href="{% url 'trees' %}">Gallery</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}" class="selected">Contact</a></li>
          </ul>
        </nav>
      </header>
      <div class="container">
        <section id="primary">
          <h3>General Information</h3>
          <p>Hey, thanks for visiting! I hope you enjoyed your visit today. Please follow me on my other social media accounts to see my latest projects. I am also open to potential collaborations or other interesting projects. Feel free to email me anytime.
          See you again soon!
        </section>
        <section id="secondary">
          <h3>Contact Details</h3>
          <ul class="contact-info">
            <li><i class="fa fa-instagram" aria-hidden="true"></i><a  href="https://www.instagram.com/photographyuntouched/">  Photography Untouched</a></li>
            <li><i class="fa fa-facebook-square" aria-hidden="true"></i><a href="https://www.facebook.com/photographyuntouched/">  Photography Untouched</a></li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:photographyuntouched@gmail.com">  photographyuntouched@gmail.com</a></li>
          </ul>
        </section>
      </div>
{% endblock %}
