{% extends "base.html" %}

{% block content %}

      <header>
        <a href="{% url 'index' %}" id="logo">
          <h1>PHOTOGRAPHY UNTOUCHED</h1>
        </a>
      </header>
      <div class="container">
        <p>In our high graphic, high-resolution world today, have you ever wonder if what you're seeing have been photoshopped or altered in one way or another? Everywhere we look, we see ads and billboards of pictures that have been altered. This website is dedicated to untouched photographs taken by yours truly. However, please don't perceive this site as a protest against photo editing programs or photographers who uses these programs and other techniques to enhance their images. Instead, I want to dedicate this site to what a simple camera is capable of capturing at it's most natural state.</p>
        <button class = "button"><a href="{% url 'trees' %}">Enter</a></button>
      </div>

{% endblock %}
